<div id="footer">
    <div class="footerdiv row d-flex justify-content-center p-3" style="border-bottom: 1px solid cadetblue;">
        <div class="col-sm-3">
            <h1 class="inetfooterhead ps-5 pt-4">INET <br> Computer</h1>
        </div>
        <div class="col-sm-3">
            <h3 class="fw-bold fs-5">EXPLORE</h3>
            <div class="footeroption">
                <li><a href="">> HOME</a></li>
                <li><a href="">> SERVICE</a></li>
                <li><a href="">> PRODUCTS</a></li>
                <li><a href="">> TERSMS & CONDITION</a></li>
                <li><a href="">> NEWS</a></li>
            </div>
        </div>
        <div class="col-sm-3">
            <h3 class="fw-bold fs-5">ADDRESS</h3>
            <div class="footeroption d-flex">
                <i class="text-secondary">></i>
                <li><a href=""> 123 Second Street <br> Fifth Avenue, <br>
                        Manhattan, New York</a></li>
            </div>
        </div>
        <div class="col-sm-3">
            <h3 class="fw-bold fs-5">CONTACT US</h3>
            <div class="footeroption">

                <li><a href="">> inetcomputer123@gmail.com</a></li>
                <li><a href="">> +987 654 3210</a></li>
            </div>
        </div>
    </div>
    <div class="copyright">
        <h4 class="text-center fw-bold fs-5 p-4" style="color: cadetblue;">All © copyright Reserved By I-net
            Computer <br> Designed By Dharmik Jikadra</h4>
    </div>
</div>